{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="content">
    <div class="hero">
        <h1>AI Lead Qualification System</h1>
        <p> Transform the way your business handles incoming leads with the power of Artificial Intelligence.
        Our AI Lead Qualification System helps organizations automatically analyze customer inquries, classify lead priority, and recommend the next cource of action. By leveraging advanced AI models, businesses can focus on high-value prospects while reducing the time spent manually reviewing submissions.
        <h2>Key Features</h2>
        <div class="features">
            Automated lead analysis using Generative AI <br/>
            Intelligent lead prioritization (High, Medium, Low) <br/>
            AI-generated lead summaries <br/>
            Recommended follow-up actions <br/>
            Secure storage of lead information <br/>
            CSV export for business reporting and analysis
        </div>

        Get started today by submitting your inquiry and experience AI-powered lead management.
        </p>
    </div>
</div>
{%endblock %}